.main-header {
  padding: 27px 0px 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  background-position: center center; }
  .main-header .left__nav {
    margin-right: 50px; }
  .main-header .logo img {
    display: block;
    max-width: 100%;
    object-fit: cover; }
  .main-header .right__nav {
    margin-left: 50px; }
  .main-header ul {
    display: flex; }
    .main-header ul li {
      margin: 0px 15px; }
      .main-header ul li a {
        color: #1a1a1a;
        font-family: "Times New Roman PSMT";
        font-size: 12px;
        font-weight: 600;
        line-height: 23.78px;
        text-transform: uppercase; }
  .main-header #menu {
    display: none; }

.adaptive-nav {
  width: 55%;
  z-index: 999;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -9999px;
  background: rgba(154, 151, 122, 0.7);
  padding-top: 60px;
  padding-right: 20px;
  transition: .5s; }
  .adaptive-nav ul {
    float: right;
    display: flex;
    flex-direction: column; }
    .adaptive-nav ul li {
      margin-bottom: 55px; }
      .adaptive-nav ul li a {
        text-transform: uppercase;
        color: #000000;
        font-size: 2rem;
        font-weight: 600; }

@media screen and (max-width: 845px) {
  .main-header {
    padding: 27px 0px 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../img/header-bg.png") no-repeat;
    background-size: cover;
    background-position: center center; }
    .main-header .left__nav, .main-header .right__nav {
      display: none; }
    .main-header .logo img {
      display: block;
      max-width: 90%;
      object-fit: cover; }
    .main-header ul {
      display: flex; }
      .main-header ul li {
        margin: 0px 15px; }
        .main-header ul li a {
          color: #1a1a1a;
          font-family: "Times New Roman PSMT";
          font-size: 12px;
          font-weight: 600;
          line-height: 23.78px;
          text-transform: uppercase; }
    .main-header #menu {
      display: block;
      margin-right: 10px; } }
.about-us {
  display: flex; }
  .about-us .studio-photo {
    width: 50%;
    position: relative; }
    .about-us .studio-photo img {
      min-width: 100%;
      display: block;
      object-fit: cover; }
  .about-us .title-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.title-frame button {
  padding: 30px 50px;
  border: 10px solid #121212;
  color: #010101;
  background: transparent;
  font-family: "Times New Roman PS - Bold MT";
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer; }

.about-us__info {
  width: 50%;
  padding: 95px 145px 140px 85px;
  background-color: #f2efe5; }
  .about-us__info img {
    display: block;
    margin: 0 auto 31px; }
  .about-us__info p {
    font-family: "Times New Roman PSMT";
    font-size: 16px;
    font-weight: 400; }

.about-us__info__title {
  margin: 0px auto 40px;
  text-align: center;
  max-width: 489px; }

.about-us__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e7e5d0; }
  .about-us__gallery img {
    max-width: 100%;
    display: block;
    object-fit: cover; }

.quotes {
  text-align: center;
  padding: 115px 0;
  background-image: url("../img/Livello_26.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .quotes .quotes__text {
    max-width: 50vw;
    margin: 0px auto;
    position: relative;
    color: #f2efe5;
    font-style: italic;
    font-family: "Times New Roman PS - Bold Italic MT";
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; }
  .quotes .left__quotes {
    position: absolute;
    top: -45px;
    left: -60px; }
  .quotes .right__quotes {
    position: absolute;
    bottom: -45px;
    right: -60px; }

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e7e5d0; }
  .team .team-header {
    position: relative; }
    .team .team-header img {
      max-width: 100%;
      display: block;
      object-fit: cover; }
    .team .team-header .title-frame {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.team-item__info {
  padding: 122px 50px;
  background-color: #ccc8b6;
  display: flex;
  flex-direction: column; }
  .team-item__info h3 {
    margin: 0px auto 50px;
    color: #000000;
    font-family: "Times New Roman PS - Bold MT";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .team-item__info p {
    max-width: 400px;
    margin: 0px auto 43px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400; }

.social__links ul {
  display: flex;
  justify-content: space-between; }
  .social__links ul li a i {
    font-size: 30px;
    color: #000000;
    transition: .3s; }
    .social__links ul li a i:hover {
      color: #3ac9e8; }

.team-feedback {
  padding: 155px 83px 128px;
  background: #f2efe5;
  display: flex;
  flex-direction: column; }
  .team-feedback h5 {
    text-align: left;
    font-family: "Times New Roman PS - Bold MT";
    font-weight: 800;
    line-height: 25px;
    text-transform: uppercase; }
  .team-feedback p {
    margin-bottom: 40px;
    font-family: "Times New Roman PSMT";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase; }
  .team-feedback input {
    margin-bottom: 23px;
    padding: 15px;
    width: 300px;
    background: transparent;
    border: 1px solid #000000;
    opacity: 0.45;
    color: #333333;
    font-family: "Times New Roman PS - Bold MT";
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase; }
  .team-feedback button {
    border: none;
    padding: 16px 1px;
    background-color: #9a977a;
    color: #ffffff;
    font-family: "Times New Roman PSMT";
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase; }

.team-item-people img {
  display: block;
  max-width: 100%;
  object-fit: cover; }

.quotes-twitter {
  padding: 90px 0px 120px;
  margin: 0px auto;
  background-image: url("../img/img_bg-twitter.png");
  background-size: cover; }
  .quotes-twitter img {
    display: block;
    margin: 0px auto 37px; }
  .quotes-twitter p {
    max-width: 60.1vw;
    margin: 0px auto;
    color: #f2efe5;
    font-family: "Times New Roman PS - Bold Italic MT";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px; }

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f0ede3; }
  .gallery img {
    display: block;
    max-width: 100%;
    object-fit: cover; }

.contact {
  padding: 220px 0px 152px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #e7e5d0; }
  .contact p {
    max-width: 480px;
    margin: 73px auto;
    font-family: "Times New Roman PSMT";
    font-size: 20px;
    font-weight: 400;
    text-align: center; }

.contact-us {
  margin-top: 50px;
  padding: 0px 20px;
  width: 700px; }
  .contact-us .title-frame {
    display: flex;
    justify-content: center; }
  .contact-us .social__links {
    max-width: 393px;
    margin: 0px auto; }

.contact-info__item h5 {
  margin-bottom: 25px;
  font-family: "Times New Roman PS - Bold MT";
  font-weight: 800;
  text-transform: uppercase; }
.contact-info__item ul {
  margin-bottom: 115px; }
  .contact-info__item ul li {
    margin-bottom: 7px; }
    .contact-info__item ul li a {
      color: #000000;
      font-family: "Times New Roman PSMT";
      font-weight: 800;
      text-transform: uppercase; }
      .contact-info__item ul li a span {
        font-weight: 400; }

.feedback {
  margin-top: 50px;
  display: flex;
  flex-direction: column; }
  .feedback .feedback-item {
    padding: 15px;
    width: 470px;
    border: 2px solid #000000;
    color: #333333;
    font-family: "Times New Roman PSMT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    background: transparent; }
  .feedback .full-name, .feedback .email {
    margin-bottom: 60px; }
  .feedback .message {
    resize: none; }

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

footer {
  padding: 170px 0px 65px;
  background: #aeaeae; }
  footer span {
    display: block;
    justify-content: center;
    padding: 20px; }
    footer span img {
      margin-right: 4px; }

footer .main-header {
  background: #aeaeae;
  padding-bottom: 115px; }

@media screen and (max-width: 1388px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw; }
    .about-us .studio-photo {
      width: 100%; }
      .about-us .studio-photo img {
        max-width: 100%; }
    .about-us .about-us__info {
      width: 100%;
      padding: 95px 20px 140px;
      background-color: #f2efe5; }
      .about-us .about-us__info img {
        display: block;
        margin: 0 auto 20px; } }
@media screen and (max-width: 570px) {
  .feedback .feedback-item {
    width: 80vw; }

  .team-feedback {
    padding: 155px 5% 128px;
    background: #f2efe5;
    display: flex;
    flex-direction: column; }
    .team-feedback h5 {
      text-align: left;
      font-family: "Times New Roman PS - Bold MT";
      font-weight: 800;
      line-height: 25px;
      text-transform: uppercase; }
    .team-feedback p {
      margin-bottom: 40px;
      font-family: "Times New Roman PSMT";
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-transform: uppercase; }
    .team-feedback input {
      margin-bottom: 23px;
      padding: 15px;
      width: 80vw; }

  .title-frame button {
    padding: 15px 30px;
    border: 5px solid #121212;
    color: #010101;
    background: transparent;
    font-family: "Times New Roman PS - Bold MT";
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer; }

  .contact {
    padding: 50px 0px 152px; }

  footer {
    padding: 20px 0px 0px 0px; }
    footer .logo {
      max-width: 100%;
      margin: 0px auto; } }

/*# sourceMappingURL=style.css.map */
